### Update a Dataframe

In [1]:
#Create a new column using the date column.
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv', low_memory=False)
print(df.columns)
print(df.dtypes)
df['mkt_close_date'] = pd.to_datetime(df['date'])

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')
no                     int64
date                  object
company_name          object
price_at_close       float64
price_change          object
price_after_hours    float64
previous_close       float64
today opened         float64
price range           object
52 week range         object
volume                object
average volume       float64
market cap            object
beta (3Y Monthly)    float64
PE Ratio             float64
EPS                  float64
earnings date         object
Dividend Yield        object
1Y target est        float64
dtype: object

In [2]:
#Find the maximum date of your data.
max_date = (df['mkt_close_date'].max())
print(max_date)

2020-04-28 00:00:00

In [3]:
#Subtract all the dates on the column from the maximum date.
days_from_max = (max_date - df['mkt_close_date'])
print(days_from_max)

0       159 days
1       159 days
2       159 days
3       159 days
4       159 days
          ...
67900     0 days
67901     0 days
67902     0 days
67903     0 days
67904     0 days
Name: mkt_close_date, Length: 67905, dtype: timedelta64[ns]

In [4]:
#Convert the number of days into number of months.
df['month_from_max'] =  (days_from_max / np.timedelta64(1, 'M'))
print(df['month_from_max'])

0        5.223927
1        5.223927
2        5.223927
3        5.223927
4        5.223927
           ...
67900    0.000000
67901    0.000000
67902    0.000000
67903    0.000000
67904    0.000000
Name: month_from_max, Length: 67905, dtype: float64

### Combine two datasets using a single attribute

In [6]:
#Find another data set, series, text data or a column from another 
#data source and merge with your selected data set.
import pandas as pd
homegames_df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/HomeGames.csv')
parks_df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Parks.csv')
combined_df = homegames_df.merge(parks_df, left_on='park.key', right_on='park.key')

In [7]:
#Identify the missing values on your data set.
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3108 entries, 0 to 3107
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year.key    3108 non-null   int64
 1   league.key  3031 non-null   object
 2   team.key    3108 non-null   object
 3   park.key    3108 non-null   object
 4   span.first  3108 non-null   object
 5   span.last   3108 non-null   object
 6   games       3108 non-null   int64
 7   openings    3108 non-null   int64
 8   attendance  3108 non-null   int64
 9   park.name   3108 non-null   object
 10  park.alias  1395 non-null   object
 11  city        3108 non-null   object
 12  state       3103 non-null   object
 13  country     3108 non-null   object
dtypes: int64(4), object(10)
memory usage: 364.2+ KB
None

In [9]:
#Count the missing values on your data set
number_missing = combined_df.shape[0] - combined_df.count()
print(number_missing)

year.key         0
league.key      77
team.key         0
park.key         0
span.first       0
span.last        0
games            0
openings         0
attendance       0
park.name        0
park.alias    1713
city             0
state            5
country          0
dtype: int64

In [10]:
#Clean your data set from the missing values
combined_df = combined_df.fillna(method='ffill')
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3108 entries, 0 to 3107
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year.key    3108 non-null   int64
 1   league.key  3102 non-null   object
 2   team.key    3108 non-null   object
 3   park.key    3108 non-null   object
 4   span.first  3108 non-null   object
 5   span.last   3108 non-null   object
 6   games       3108 non-null   int64
 7   openings    3108 non-null   int64
 8   attendance  3108 non-null   int64
 9   park.name   3108 non-null   object
 10  park.alias  3108 non-null   object
 11  city        3108 non-null   object
 12  state       3108 non-null   object
 13  country     3108 non-null   object
dtypes: int64(4), object(10)
memory usage: 364.2+ KB
None

In [11]:
#Clean your data set from the missing values
combined_df = combined_df.fillna(method='bfill')
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3108 entries, 0 to 3107
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year.key    3108 non-null   int64
 1   league.key  3108 non-null   object
 2   team.key    3108 non-null   object
 3   park.key    3108 non-null   object
 4   span.first  3108 non-null   object
 5   span.last   3108 non-null   object
 6   games       3108 non-null   int64
 7   openings    3108 non-null   int64
 8   attendance  3108 non-null   int64
 9   park.name   3108 non-null   object
 10  park.alias  3108 non-null   object
 11  city        3108 non-null   object
 12  state       3108 non-null   object
 13  country     3108 non-null   object
dtypes: int64(4), object(10)
memory usage: 364.2+ KB
None

### Convert data types in a dataframe

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/HomeGames.csv')
print(df.dtypes)

year.key       int64
league.key    object
team.key      object
park.key      object
span.first    object
span.last     object
games          int64
openings       int64
attendance     int64
dtype: object

In [13]:
#Covert a column of non-categorical type into a categorical type.
df['league.key'] = df['league.key'].astype('category')
print(df.dtypes)

year.key         int64
league.key    category
team.key        object
park.key        object
span.first      object
span.last       object
games            int64
openings         int64
attendance       int64
dtype: object

In [14]:
#Convert another column into a string type.
df['games'] = df['games'].astype('str')
print(df.dtypes)

year.key         int64
league.key    category
team.key        object
park.key        object
span.first      object
span.last       object
games           object
openings         int64
attendance       int64
dtype: object

### Using regular expression, clean a column in a dataframe

In [15]:
import re
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')
print(df.head())
print(df.tail())

   Unnamed: 0 Utilization Type State  Labeler Code  Product Code  \
0      128037             MCOU    MA         37205           137
1      491755             FFSU    FL         62756           763
2     2568076             FFSU    UT         46987           323
3      491263             FFSU    MN           781          5185
4      836489             FFSU    XX         51552           809

   Package Size  Year  Quarter Product Name  Units Reimbursed  ...  \
0             5  2010        4   ARTIFICIAL            15.000  ...
1            88  2010        1    TORSEMIDE           255.000  ...
2            11  2010        2   Kadian Ora           120.000  ...
3             1  2010        4   LEVOTHYROX          1114.000  ...
4             6  2010        2   COLD CREAM           226.089  ...

   Number of Prescriptions  Total Amount Reimbursed  \
0                        1                     4.08
1                        8                   103.33
2                        2                   905.24
3                       34                   312.22
4                        7                    52.87

   Medicaid Amount Reimbursed  Non Medicaid Amount Reimbursed  Quarter Begin  \
0                        4.08                             0.0           10/1
1                      103.33                             0.0            1/1
2                      905.24                             0.0            4/1
3                      306.22                             6.0           10/1
4                       52.87                             0.0            4/1

  Quarter Begin Date Latitude  Longitude             Location          NDC
0         10/01/2010  31.1801   -91.8749  (31.1801, -91.8749)  37205013705
1         01/01/2010  39.3498   -75.5148  (39.3498, -75.5148)  62756076388
2         04/01/2010  44.2853   -99.4632  (44.2853, -99.4632)  46987032311
3         10/01/2010  43.3504   -84.5603  (43.3504, -84.5603)    781518501
4         04/01/2010      NaN        NaN                  NaN  51552080906

[5 rows x 21 columns]
        Unnamed: 0 Utilization Type State  Labeler Code  Product Code  \
156215     2752214             MCOU    XX         63868            17
156216     2519195             MCOU    MI           121           489
156217      815768             MCOU    MD         60432           133
156218     2029158             FFSU    DE            88          1109
156219     2799238             FFSU    DE            29          1527

        Package Size  Year  Quarter Product Name  Units Reimbursed  ...  \
156215             1  2010        2   QC DOCUSAT             540.0  ...
156216            10  2010        4   DIPHENHYDR            1970.0  ...
156217            25  2010        4   CLOBETASOL              75.0  ...
156218            47  2010        4   ALLEGRA (F              60.0  ...
156219            25  2010        1   BACTROBAN(             360.0  ...

        Number of Prescriptions  Total Amount Reimbursed  \
156215                       10                    41.15
156216                       12                    16.48
156217                        3                    32.24
156218                        2                   152.68
156219                       12                   896.33

        Medicaid Amount Reimbursed  Non Medicaid Amount Reimbursed  \
156215                       41.15                            0.00
156216                       16.48                            0.00
156217                       30.24                            2.00
156218                      146.68                            6.00
156219                      705.82                          190.51

        Quarter Begin Quarter Begin Date Latitude  Longitude  \
156215            4/1         04/01/2010      NaN        NaN
156216           10/1         10/01/2010  44.6074   -69.3977
156217           10/1         10/01/2010  42.2373   -71.5314
156218           10/1         10/01/2010  38.8964   -77.0262
156219            1/1         01/01/2010  38.8964   -77.0262

                   Location          NDC
156215                  NaN  63868001701
156216  (44.6074, -69.3977)    121048910
156217  (42.2373, -71.5314)  60432013325
156218  (38.8964, -77.0262)     88110947
156219  (38.8964, -77.0262)     29152725

[5 rows x 21 columns]

In [16]:
#Working with strings
#Clean a column on your data set using regular expression methods.
#Store the cleaned column into another column of your data set and 
#call it “your_col_name_cleaned”
df['State_cleaned'] = [re.sub('XX','',x) for x in df['State']]
df['State_cleaned'] = df['State_cleaned'].replace('', np.NaN)
print(df.head())
print(df.tail())

   Unnamed: 0 Utilization Type State  Labeler Code  Product Code  \
0      128037             MCOU    MA         37205           137
1      491755             FFSU    FL         62756           763
2     2568076             FFSU    UT         46987           323
3      491263             FFSU    MN           781          5185
4      836489             FFSU    XX         51552           809

   Package Size  Year  Quarter Product Name  Units Reimbursed  ...  \
0             5  2010        4   ARTIFICIAL            15.000  ...
1            88  2010        1    TORSEMIDE           255.000  ...
2            11  2010        2   Kadian Ora           120.000  ...
3             1  2010        4   LEVOTHYROX          1114.000  ...
4             6  2010        2   COLD CREAM           226.089  ...

   Total Amount Reimbursed  Medicaid Amount Reimbursed  \
0                     4.08                        4.08
1                   103.33                      103.33
2                   905.24                      905.24
3                   312.22                      306.22
4                    52.87                       52.87

   Non Medicaid Amount Reimbursed  Quarter Begin  Quarter Begin Date Latitude  \
0                             0.0           10/1          10/01/2010  31.1801
1                             0.0            1/1          01/01/2010  39.3498
2                             0.0            4/1          04/01/2010  44.2853
3                             6.0           10/1          10/01/2010  43.3504
4                             0.0            4/1          04/01/2010      NaN

  Longitude             Location          NDC State_cleaned
0  -91.8749  (31.1801, -91.8749)  37205013705            MA
1  -75.5148  (39.3498, -75.5148)  62756076388            FL
2  -99.4632  (44.2853, -99.4632)  46987032311            UT
3  -84.5603  (43.3504, -84.5603)    781518501            MN
4       NaN                  NaN  51552080906           NaN

[5 rows x 22 columns]
        Unnamed: 0 Utilization Type State  Labeler Code  Product Code  \
156215     2752214             MCOU    XX         63868            17
156216     2519195             MCOU    MI           121           489
156217      815768             MCOU    MD         60432           133
156218     2029158             FFSU    DE            88          1109
156219     2799238             FFSU    DE            29          1527

        Package Size  Year  Quarter Product Name  Units Reimbursed  ...  \
156215             1  2010        2   QC DOCUSAT             540.0  ...
156216            10  2010        4   DIPHENHYDR            1970.0  ...
156217            25  2010        4   CLOBETASOL              75.0  ...
156218            47  2010        4   ALLEGRA (F              60.0  ...
156219            25  2010        1   BACTROBAN(             360.0  ...

        Total Amount Reimbursed  Medicaid Amount Reimbursed  \
156215                    41.15                       41.15
156216                    16.48                       16.48
156217                    32.24                       30.24
156218                   152.68                      146.68
156219                   896.33                      705.82

        Non Medicaid Amount Reimbursed  Quarter Begin  Quarter Begin Date  \
156215                            0.00            4/1          04/01/2010
156216                            0.00           10/1          10/01/2010
156217                            2.00           10/1          10/01/2010
156218                            6.00           10/1          10/01/2010
156219                          190.51            1/1          01/01/2010

       Latitude Longitude             Location          NDC State_cleaned
156215      NaN       NaN                  NaN  63868001701           NaN
156216  44.6074  -69.3977  (44.6074, -69.3977)    121048910            MI
156217  42.2373  -71.5314  (42.2373, -71.5314)  60432013325            MD
156218  38.8964  -77.0262  (38.8964, -77.0262)     88110947            DE
156219  38.8964  -77.0262  (38.8964, -77.0262)     29152725            DE

[5 rows x 22 columns]